<main role="main">
    <div class="col-12">
        <div class="row">
            <div class="col col-md-3 bg-dark" style=" padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="bg-success"><img
                            style="height: 75%; width: 75%; border-radius: 10px; display : block ; margin-left: 40px; margin-bottom: 10px;"
                            src="assets/img/portrait.jpg" alt="Portrait">
                    </div>
                    <div>

                        <ul>
                            <li><b>Mobile Phone</b> : +33 6 31 92 90 01</li>
                            <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                            <li><b>Address</b> : Allée des Techniques Avancées
                                Bat N Appt 325, 91120 Palaiseau, France</li>
                            <li><b>Nationality</b> : French</li>
                            <li><b>Date of birth</b> : 10th April 1999</li>
                            <li><b>Driving</b></li>
                        </ul>
                    </div>
                    <div style="display :table; margin: 0 auto;">

                        <button class="btn btn-dark" style="margin : 3px;">
                            <a routerLink="services" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                services </a>
                        </button>
                        <button class="btn btn-dark">
                            <a routerLink="skills" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                skills </a>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col col-md-9 col-12" style="padding: 20px;">
                <div class="page-header">
                    <h1>Portfolio</h1>
                </div>
                <div class="bs-content">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Project</th>
                                <th scope="col">Date</th>
                                <th scope="col">Description</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="table">
                                <td>Defragmentation software</td>
                                <td>2016</td>
                                <td>I worked on the hard drive fragmentation phenomenon and modelled a
                                    defragmentation software</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#defragModal" disabled>
                                        More
                                    </button>
                                </td>
                            </tr>

                            <tr class="table">
                                <td>Webdesign</td>
                                <td>2020</td>
                                <td>I designed a responsive front-end website for a false shop</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#pizzaModal" disabled>
                                        More
                                    </button>
                                </td>
                            </tr>

                            <tr class="table">
                                <td>Genetic Algorithm</td>
                                <td>2018</td>
                                <td>I worked on a genetic algorithm used to find values in data-heavy files </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#genModal" disabled>
                                        More
                                    </button>
                                </td>
                            </tr>

                            <tr class="table">
                                <td>Library Web App</td>
                                <td>2019</td>
                                <td>I developped a Java WebApp which can be used to manage a library, its books and
                                    members
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#webappModal" disabled>
                                        More
                                    </button>
                                </td>
                            </tr>

                            <tr class="table">
                                <td>Object Oriented RTX</td>
                                <td>2019</td>
                                <td>I worked on a software which can be used to render a scene with several objects
                                    using ray tracing
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#rtxModal" disabled>
                                        More
                                    </button>
                                </td>
                            </tr>

                            <tr class="table">
                                <td>Meta Attack Language</td>
                                <td>2020</td>
                                <td>I worked on the Meta Attack Language implementation of the MITRE ATT&CK
                                    framework</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#kthModal" disabled>
                                        More
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="defragModal" tabindex="-1" role="dialog" aria-labelledby="defragModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3">
                                <h3 class="card-header bg-success">Vesuvio</h3>
                                <div class="card-body">
                                    <h5 class="card-title">With actual volcano ash</h5>
                                    <h6 class="card-subtitle text-muted">Warning : Spices and cancer included</h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="./vesuvio.jpg"
                                    alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vestibulum ullamcorper rhoncus felis, a tincidunt massa dapibus a. Mauris
                                        auctor eros non rutrum lobortis. Phasellus finibus gravida justo, sit amet
                                        pharetra massa vehicula quis. Sed convallis ipsum eget vestibulum eleifend.
                                        Maecenas mollis, dolor non iaculis lobortis, nisi elit viverra purus, et
                                        porttitor elit metus nec velit. Suspendisse commodo elit eu nisl molestie,
                                        vitae sagittis eros elementum. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus luctus est id mauris dapibus, vel mattis risus
                                        bibendum. Phasellus in fringilla lectus, ac lobortis libero. Aenean elit
                                        nisi, commodo non lobortis vitae, mollis in orci. Cras ullamcorper est vel
                                        mi aliquam gravida. Phasellus fermentum et massa nec suscipit. Maecenas
                                        vitae mi vitae neque pharetra iaculis sit amet sed ligula. Vestibulum sed
                                        leo leo.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Chorizo</li>
                                    <li class="list-group-item">Ashes</li>
                                    <li class="list-group-item">Spicy peppers</li>
                                </ul>
                                <div class="card-footer text-muted" style="background-color: #28a74698;">
                                    Restaurant declines all responsibility for cancer and other illness
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3">
                                <h3 class="card-header bg-success">Vesuvio</h3>
                                <div class="card-body">
                                    <h5 class="card-title">With actual volcano ash</h5>
                                    <h6 class="card-subtitle text-muted">Warning : Spices and cancer included</h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="./vesuvio.jpg"
                                    alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vestibulum ullamcorper rhoncus felis, a tincidunt massa dapibus a. Mauris
                                        auctor eros non rutrum lobortis. Phasellus finibus gravida justo, sit amet
                                        pharetra massa vehicula quis. Sed convallis ipsum eget vestibulum eleifend.
                                        Maecenas mollis, dolor non iaculis lobortis, nisi elit viverra purus, et
                                        porttitor elit metus nec velit. Suspendisse commodo elit eu nisl molestie,
                                        vitae sagittis eros elementum. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus luctus est id mauris dapibus, vel mattis risus
                                        bibendum. Phasellus in fringilla lectus, ac lobortis libero. Aenean elit
                                        nisi, commodo non lobortis vitae, mollis in orci. Cras ullamcorper est vel
                                        mi aliquam gravida. Phasellus fermentum et massa nec suscipit. Maecenas
                                        vitae mi vitae neque pharetra iaculis sit amet sed ligula. Vestibulum sed
                                        leo leo.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Chorizo</li>
                                    <li class="list-group-item">Ashes</li>
                                    <li class="list-group-item">Spicy peppers</li>
                                </ul>
                                <div class="card-footer text-muted" style="background-color: #28a74698;">
                                    Restaurant declines all responsibility for cancer and other illness
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="genModal" tabindex="-1" role="dialog" aria-labelledby="genModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3">
                                <h3 class="card-header bg-success">Vesuvio</h3>
                                <div class="card-body">
                                    <h5 class="card-title">With actual volcano ash</h5>
                                    <h6 class="card-subtitle text-muted">Warning : Spices and cancer included</h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="./vesuvio.jpg"
                                    alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vestibulum ullamcorper rhoncus felis, a tincidunt massa dapibus a. Mauris
                                        auctor eros non rutrum lobortis. Phasellus finibus gravida justo, sit amet
                                        pharetra massa vehicula quis. Sed convallis ipsum eget vestibulum eleifend.
                                        Maecenas mollis, dolor non iaculis lobortis, nisi elit viverra purus, et
                                        porttitor elit metus nec velit. Suspendisse commodo elit eu nisl molestie,
                                        vitae sagittis eros elementum. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus luctus est id mauris dapibus, vel mattis risus
                                        bibendum. Phasellus in fringilla lectus, ac lobortis libero. Aenean elit
                                        nisi, commodo non lobortis vitae, mollis in orci. Cras ullamcorper est vel
                                        mi aliquam gravida. Phasellus fermentum et massa nec suscipit. Maecenas
                                        vitae mi vitae neque pharetra iaculis sit amet sed ligula. Vestibulum sed
                                        leo leo.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Chorizo</li>
                                    <li class="list-group-item">Ashes</li>
                                    <li class="list-group-item">Spicy peppers</li>
                                </ul>
                                <div class="card-footer text-muted" style="background-color: #28a74698;">
                                    Restaurant declines all responsibility for cancer and other illness
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="webappModal" tabindex="-1" role="dialog" aria-labelledby="webappModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3">
                                <h3 class="card-header bg-success">Vesuvio</h3>
                                <div class="card-body">
                                    <h5 class="card-title">With actual volcano ash</h5>
                                    <h6 class="card-subtitle text-muted">Warning : Spices and cancer included</h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="./vesuvio.jpg"
                                    alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vestibulum ullamcorper rhoncus felis, a tincidunt massa dapibus a. Mauris
                                        auctor eros non rutrum lobortis. Phasellus finibus gravida justo, sit amet
                                        pharetra massa vehicula quis. Sed convallis ipsum eget vestibulum eleifend.
                                        Maecenas mollis, dolor non iaculis lobortis, nisi elit viverra purus, et
                                        porttitor elit metus nec velit. Suspendisse commodo elit eu nisl molestie,
                                        vitae sagittis eros elementum. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus luctus est id mauris dapibus, vel mattis risus
                                        bibendum. Phasellus in fringilla lectus, ac lobortis libero. Aenean elit
                                        nisi, commodo non lobortis vitae, mollis in orci. Cras ullamcorper est vel
                                        mi aliquam gravida. Phasellus fermentum et massa nec suscipit. Maecenas
                                        vitae mi vitae neque pharetra iaculis sit amet sed ligula. Vestibulum sed
                                        leo leo.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Chorizo</li>
                                    <li class="list-group-item">Ashes</li>
                                    <li class="list-group-item">Spicy peppers</li>
                                </ul>
                                <div class="card-footer text-muted" style="background-color: #28a74698;">
                                    Restaurant declines all responsibility for cancer and other illness
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="rtxModal" tabindex="-1" role="dialog" aria-labelledby="rtxModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="card mb-3">
                                <h3 class="card-header bg-success">Vesuvio</h3>
                                <div class="card-body">
                                    <h5 class="card-title">With actual volcano ash</h5>
                                    <h6 class="card-subtitle text-muted">Warning : Spices and cancer included</h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="./vesuvio.jpg"
                                    alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vestibulum ullamcorper rhoncus felis, a tincidunt massa dapibus a. Mauris
                                        auctor eros non rutrum lobortis. Phasellus finibus gravida justo, sit amet
                                        pharetra massa vehicula quis. Sed convallis ipsum eget vestibulum eleifend.
                                        Maecenas mollis, dolor non iaculis lobortis, nisi elit viverra purus, et
                                        porttitor elit metus nec velit. Suspendisse commodo elit eu nisl molestie,
                                        vitae sagittis eros elementum. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus luctus est id mauris dapibus, vel mattis risus
                                        bibendum. Phasellus in fringilla lectus, ac lobortis libero. Aenean elit
                                        nisi, commodo non lobortis vitae, mollis in orci. Cras ullamcorper est vel
                                        mi aliquam gravida. Phasellus fermentum et massa nec suscipit. Maecenas
                                        vitae mi vitae neque pharetra iaculis sit amet sed ligula. Vestibulum sed
                                        leo leo.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Chorizo</li>
                                    <li class="list-group-item">Ashes</li>
                                    <li class="list-group-item">Spicy peppers</li>
                                </ul>
                                <div class="card-footer text-muted" style="background-color: #28a74698;">
                                    Restaurant declines all responsibility for cancer and other illness
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="kthModal" tabindex="-1" role="dialog" aria-labelledby="kthModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="card mb-3">
                                <h3 class="card-header bg-success">Vesuvio</h3>
                                <div class="card-body">
                                    <h5 class="card-title">With actual volcano ash</h5>
                                    <h6 class="card-subtitle text-muted">Warning : Spices and cancer included</h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="./vesuvio.jpg"
                                    alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vestibulum ullamcorper rhoncus felis, a tincidunt massa dapibus a. Mauris
                                        auctor eros non rutrum lobortis. Phasellus finibus gravida justo, sit amet
                                        pharetra massa vehicula quis. Sed convallis ipsum eget vestibulum eleifend.
                                        Maecenas mollis, dolor non iaculis lobortis, nisi elit viverra purus, et
                                        porttitor elit metus nec velit. Suspendisse commodo elit eu nisl molestie,
                                        vitae sagittis eros elementum. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus luctus est id mauris dapibus, vel mattis risus
                                        bibendum. Phasellus in fringilla lectus, ac lobortis libero. Aenean elit
                                        nisi, commodo non lobortis vitae, mollis in orci. Cras ullamcorper est vel
                                        mi aliquam gravida. Phasellus fermentum et massa nec suscipit. Maecenas
                                        vitae mi vitae neque pharetra iaculis sit amet sed ligula. Vestibulum sed
                                        leo leo.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Chorizo</li>
                                    <li class="list-group-item">Ashes</li>
                                    <li class="list-group-item">Spicy peppers</li>
                                </ul>
                                <div class="card-footer text-muted" style="background-color: #28a74698;">
                                    Restaurant declines all responsibility for cancer and other illness
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>