<main role="main">
    <div class="col-12">
        <div class="row">
            <div class="col col-md-3 bg-dark" style=" padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="bg-success"><img
                            style="height: 75%; width: 75%; border-radius: 10px; display : block ; margin-left: 40px; margin-bottom: 10px;"
                            src="assets/img/portrait.jpg" alt="Portrait">
                    </div>
                    <div>

                        <ul>
                            <li><b>Mobile Phone</b> : +33 6 31 92 90 01</li>
                            <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                            <li><b>Address</b> : Allée des Techniques Avancées
                                Bat N Appt 325, 91120 Palaiseau, France</li>
                            <li><b>Nationality</b> : French</li>
                            <li><b>Date of birth</b> : 10th April 1999</li>
                            <li><b>Driving</b></li>
                        </ul>
                    </div>
                    <div style="display :table; margin: 0 auto;">

                        <button class="btn btn-dark" style="margin : 3px;">
                            <a routerLink="contact" style="text-decoration: none; color :rgb(17, 17, 17);">Contact</a>
                        </button>
                        <button class="btn btn-dark">
                            <a routerLink="skills" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                skills </a>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col col-md-9 col-12" style="padding: 20px;">
                <h2>Services I can provide</h2>
                <hr class="my-4">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col col-md-6 col-12">
                        <div class="row">

                            <div class="col col-md-1 col-2">
                                <i class="far fa-window-maximize fa-2x"></i>
                            </div>
                            <div class="col col-md-11 col-10">
                                <h4>Website</h4>
                                <p>With the skills I have acquired in many web programming languages, I can design
                                    responsive and dynamic websites for you or your company</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6 col-12">
                        <div class="row">

                            <div class="col col-md-1 col-2">
                                <i class="fas fa-server fa-2x"></i>
                            </div>
                            <div class="col col-md-11 col-10">
                                <h4>WebApp</h4>
                                <p>I can develop safe webapps providing all sorts of services (Access database,
                                    interact with clients...)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col col-md-6 col-12">
                        <div class="row">

                            <div class="col col-md-1 col-2">
                                <i class="fas fa-book-open fa-2x"></i>
                            </div>
                            <div class="col col-md-11 col-10">
                                <h4>Translation</h4>
                                <p>Being fluent in both english and french, with a scientific background, I can
                                    translate most technical documents and websites between those languages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6 col-12">
                        <div class="row">

                            <div class="col col-md-1 col-2">
                                <i class="fas fa-user-shield fa-2x"></i>
                            </div>
                            <div class="col col-md-11 col-10">
                                <h4>Network Protection</h4>
                                <p>Having a strong background in computer science and specifically in cybersecurity,
                                    I can make your professional network a true fortress</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col col-md-6 col-12">
                        <div class="row">

                            <div class="col col-md-1 col-2">
                                <i class="fas fa-user-secret fa-2x"></i>
                            </div>
                            <div class="col col-md-11 col-10">
                                <h4>Ethical Hacking</h4>
                                <p>I can try and get inside your professional network in order to identify its
                                    weaknesses and find solutions to protect yourself</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6 col-12">
                        <div class="row">

                            <div class="col col-md-1 col-2">
                                <i class="fas fa-check-circle fa-2x"></i>
                            </div>
                            <div class="col col-md-11 col-10">
                                <h4>Application Testing</h4>
                                <p>I have notions about Test Driven Development and can successfully run a test
                                    campaign to validate an application</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h4>If you are interested in any of these, or if you have any question, feel free to <a
                            routerLink="contact">contact
                            me</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main>