<main role="main">

    <div class="col-12">
        <div class="row">
            <div class="col col-md-3 bg-dark" style=" padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="bg-success"><img
                            style="height: 75%; width: 75%; border-radius: 10px; display : block ; margin-left: 40px; margin-bottom: 10px;"
                            src="assets/img/portrait.jpg" alt="Portrait">
                    </div>
                    <div>

                        <ul>
                            <li><b>{{translation?.phone}}</b> : +33 6 31 92 90 01</li>
                            <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                            <li><b>{{translation?.address}}</b> : Allée des Techniques Avancées
                                Bat N Appt 325, 91120 Palaiseau, France</li>
                            <li><b>{{translation?.nationality}}</b> : French</li>
                            <li><b>{{translation?.birthday}}</b> : 10th April 1999</li>
                            <li><b>{{translation?.driving}}</b></li>
                        </ul>
                    </div>
                    <div style="display :table; margin: 0 auto;">

                        <button class="btn btn-dark" style="margin : 3px;">
                            <a routerLink="services"
                                style="text-decoration: none; color :rgb(17, 17, 17);">{{translation?.services}}</a>
                        </button>
                        <button class="btn btn-dark">
                            <a routerLink="skills"
                                style="text-decoration: none; color :rgb(17, 17, 17);">{{translation?.skills}}</a>
                        </button>

                    </div>

                </div>
            </div>

            <div class="col col-md-9 col-12 ">
                <div class="container">
                    <div style="margin-top : 20px;">

                        <h1 class="display-4">Quentin Biharé - {{translation?.ingenieur}}</h1>
                        <hr class="my-4">
                        <p class="lead">{{translation?.txt1}}</p>
                        <p class="lead">
                            {{translation?.txt2}}
                        </p>
                    </div>
                    <div class="jumbotron">
                        <h1 class="display-3">{{translation?.contact}}</h1>
                        <hr class="my-4">
                        <p class="lead">{{translation?.contacttxt}}</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" routerLink="skills" role="button"
                                style="margin-right: 5px;">{{translation?.skills}}</a>
                            <a class="btn btn-primary btn-lg" routerLink="services" role="button"
                                style="margin-right: 5px;">{{translation?.services}}</a>
                            <a class="btn btn-outline-success btn-lg" routerLink="contact" role="button">Contact</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>