<main role="main">
    <div class="col-12">
        <div class="row">
            <div class="col col-12" style="background-color: #409e8b; padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="row ">
                        <div class="col col-md-9 col-12">

                            <h1>{{translation?.about}}</h1>
                            <hr class=" my-4">
                            <ul>
                                <li><b>{{translation?.phone}}</b> : +33 6 31 92 90 01</li>
                                <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                                <li><b>{{translation?.address}}</b> : Allée des Techniques Avancées
                                    Bat N Appt 325, 91120 Palaiseau, France</li>
                                <li><b>{{translation?.nationality}}</b> : French</li>
                                <li><b>{{translation?.birthday}}</b> : 10th April 1999</li>
                                <li><b>{{translation?.driving}}</b></li>
                            </ul>
                            <div style="display :table; margin: 0 auto;">

                                <button class="btn btn-dark" style="margin : 3px;">
                                    <a routerLink="services"
                                        style="text-decoration: none; color :rgb(17, 17, 17);">{{translation?.services}}
                                    </a>
                                </button>
                                <button class="btn btn-dark">
                                    <a routerLink="skills" style="text-decoration: none; color :rgb(17, 17, 17);">{{translation?.skills} </a>
                                </button>

                            </div>
                        </div>
                        <div class="col col-md-3 col-12 text-center d-none d-sm-none d-md-block">
                            <img class="img-thumbnail center-block" style="max-width: 100%; height: auto;"
                                src="assets/img/portrait.jpg" alt="Portrait">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12" style="padding: 20px;">
                <div class="container">

                    <div class="row " style="padding-top: 10px;">
                        <div class="col col-md-2 col-sm-3 col-xs-12 col-12 text-center"><img src="assets/img/music.jpg"
                                alt="music" class="rounded-circle z-depth-2 img-thumbnail bg-secondary" style="max-width: 100%; height: auto;max-height: 200px;
                                ">
                        </div>
                        <div class="col col-md-10 col-sm-9 col-xs-12 col-12">
                            <h5><b>{{translation?.et1title}}</b></h5>
                                        <p>{{translation?.et1a}} <a href="https://soundcloud.com/cubee_sounds"
                                                target="_blank">{{translation?.et1b}}</a>).

                                        </p>
                                        <p>{{translation?.et1d}} <i>Benjamin Britten</i>{{translation?.et1f}} <b>Noye's
                                                Fluddle</b> {{translation?.et1h}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-2 col-sm-3 col-xs-12 col-12 order-md-12 text-center"><img
                                    class="rounded-circle z-depth-2 img-thumbnail bg-secondary"
                                    src="assets/img/hiking.jpg" alt="travel" style="max-width: 100%; height: auto;max-height: 200px;
                                ">
                            </div>
                            <div class="col col-md-10 col-sm-9 col-xs-12 col-12 order-md-1">
                                <h5><b>{{translation?.et2title}}</b></h5>
                                <p>{{translation?.et2a}}
                                </p>
                                <p>
                                    {{translation?.et2b}} <b>{{translation?.et2c}}</b>{{translation?.et2d}}
                                </p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col col-md-2 col-sm-3 col-xs-12 col-12 text-center"><img
                                    class="rounded-circle z-depth-2 img-thumbnail bg-secondary"
                                    src="assets/img/linkedin.png" alt="fda" style="max-width: 100%; height: auto;max-height: 200px;
                            ">
                            </div>
                            <div class="col col-md-10 col-sm-9 col-xs-12 col-12">
                                <h5><b>French Debating Association</b></h5>
                                <p>
                                    {{translation?.et3a}} <b>French Debating Association.</b>
                                    {{translation?.et3c}}
                                </p>
                                <p>{{translation?.et3d}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>