<main role="main">
    <div class="col-12">
        <div class="row">
            <div class="col col-12" style="background-color: #409e8b; padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="row ">
                        <div class="col col-md-9 col-12">

                            <h1>About me</h1>
                            <hr class=" my-4">
                            <ul>
                                <li><b>Mobile Phone</b> : +33 6 31 92 90 01</li>
                                <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                                <li><b>Address</b> : Allée des Techniques Avancées
                                    Bat N Appt 325, 91120 Palaiseau, France</li>
                                <li><b>Nationality</b> : French</li>
                                <li><b>Date of birth</b> : 10th April 1999</li>
                                <li><b>Driving</b></li>
                            </ul>
                            <div style="display :table; margin: 0 auto;">

                                <button class="btn btn-dark" style="margin : 3px;">
                                    <a routerLink="services" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                        services </a>
                                </button>
                                <button class="btn btn-dark">
                                    <a routerLink="skills" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                        skills </a>
                                </button>

                            </div>
                        </div>
                        <div class="col col-md-3 col-12 text-center d-none d-sm-none d-md-block">
                            <img class="img-thumbnail center-block" style="max-width: 100%; height: auto;"
                                src="assets/img/portrait.jpg" alt="Portrait">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12" style="padding: 20px;">
                <div class="container">

                    <div class="row " style="padding-top: 10px;">
                        <div class="col col-md-2 col-sm-3 col-xs-12 col-12 text-center"><img src="assets/img/music.jpg"
                                alt="music" class="rounded-circle z-depth-2 img-thumbnail bg-secondary" style="max-width: 100%; height: auto;max-height: 200px;
                                ">
                        </div>
                        <div class="col col-md-10 col-sm-9 col-xs-12 col-12">
                            <h5><b>Music</b></h5>
                            <p>Music is to me one of
                                the best ways of expressing oneself and meet people with common interests, which is
                                why I played with several orchestras.
                                I have been playing the drums for 13 years and I also play a little piano. I love a
                                lot
                                of different styles and I also write some music (you can <a
                                    href="https://soundcloud.com/cubee_sounds" target="_blank">check it out</a>).

                            </p>
                            <p>I have e.g. performed <i>Benjamin Britten</i>'s <b>Noye's Fluddle</b> in partnership
                                with
                                the Melbourn Village College and Orchestra of Picardie (Cambridgeshire, England,
                                2015).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-2 col-sm-3 col-xs-12 col-12 order-md-12 text-center"><img
                                class="rounded-circle z-depth-2 img-thumbnail bg-secondary" src="assets/img/hiking.jpg"
                                alt="travel" style="max-width: 100%; height: auto;max-height: 200px;
                                ">
                        </div>
                        <div class="col col-md-10 col-sm-9 col-xs-12 col-12 order-md-1">
                            <h5><b>Travel</b></h5>
                            <p>Travelling is a second important hobby to me. More than mere tourism, this allows
                                people to meet different culture and languages and discover the unknown.
                                I have had the luck to travel a lot when I was young which allowed me to discover
                                all this and gave me a deeper vision of the world we live in.
                            </p>
                            <p>
                                I also <b>hike</b> a lot. These last years, I have gone for a week long hike in the
                                french
                                Alpes with friends, which was a great opportunity for us to unplug and focus on
                                essential things.
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-md-2 col-sm-3 col-xs-12 col-12 text-center"><img
                                class="rounded-circle z-depth-2 img-thumbnail bg-secondary"
                                src="assets/img/linkedin.png" alt="fda" style="max-width: 100%; height: auto;max-height: 200px;
                            ">
                        </div>
                        <div class="col col-md-10 col-sm-9 col-xs-12 col-12">
                            <h5><b>French Debating Association</b></h5>
                            <p>
                                As well as through a lot of travel, I had the opportunity to improve my english by
                                taking part in the <b>French Debating Association</b>.
                                This association organizes a national-wide tournament every year in which students
                                from many universities meet in team and debate on various topics.
                            </p>
                            <p>This was a great experience to learn about talking in front of an audience,
                                defending one's opinion and oral communication skills. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>