<main role="main">
    <div class="col-12">
        <div class="row">
            <div class="col col-md-3 bg-dark" style=" padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="bg-success"><img
                            style="height: 75%; width: 75%; border-radius: 10px; display : block ; margin-left: 40px; margin-bottom: 10px;"
                            src="assets/img/portrait.jpg" alt="Portrait">
                    </div>
                    <div>

                        <ul>
                            <li><b>Mobile Phone</b> : +33 6 31 92 90 01</li>
                            <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                            <li><b>Address</b> : Allée des Techniques Avancées
                                Bat N Appt 325, 91120 Palaiseau, France</li>
                            <li><b>Nationality</b> : French</li>
                            <li><b>Date of birth</b> : 10th April 1999</li>
                            <li><b>Driving</b></li>
                        </ul>
                    </div>
                    <div style="display :table; margin: 0 auto;">

                        <button class="btn btn-dark" style="margin : 3px;">
                            <a routerLink="services" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                services </a>
                        </button>
                        <button class="btn btn-dark">
                            <a routerLink="skills" style="text-decoration: none; color :rgb(17, 17, 17);">See
                                skills </a>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col col-md-9 col-12" style="padding: 20px;">
                <h1>Studies</h1>
                <div class="row ">
                    <div class="col-md-4 col-12">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-telecom-list"
                                data-toggle="list" href="#list-telecom" role="tab" aria-controls="telecom">Telecom
                                Paris - Paris suburbs</a>
                            <a class="list-group-item list-group-item-action" id="list-ensta-list" data-toggle="list"
                                href="#list-ensta" role="tab" aria-controls="ensta">ENSTA Paris -
                                Paris suburbs</a>
                            <a class="list-group-item list-group-item-action" id="list-faidherbe-list"
                                data-toggle="list" href="#list-faidherbe" role="tab" aria-controls="faidherbe">CPGE
                                Faidherbe High School - Lille</a>
                            <a class="list-group-item list-group-item-action " id="list-michelis-list"
                                data-toggle="list" href="#list-michelis" role="tab" aria-controls="michelis">
                                Madeleine Michelis High School - Amiens</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active jumbotron" id="list-telecom" role="tabpanel"
                                aria-labelledby="list-telecom-list">
                                <h4>Sept. 2021 - Telecom Paris & ENSTA Paris</h4>
                                <hr class="my-4">
                                <p>
                                    Anticipated graduation with a french « Diplôme d’Ingénieur
                                    Informatique » - top diploma equivalent to a top Honors Master’s
                                    Degree in Informatics, with strong informatic engineer training.
                                </p>
                                <ul>
                                    <li>Graduate Major : Achitecture and Security of Information Systems</li>
                                    <li>Anticipated graduation with a parallel Master in cybersecurity - Telecom
                                        Paris</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade  jumbotron" id="list-michelis" role="tabpanel"
                                aria-labelledby="list-michelis-list">
                                <h4>2016 - French Baccalauréat in Science with Honors</h4>
                                <hr class="my-4">
                                <p>
                                    I succeeded a scientific french Baccalauréat with honors, acquiring basic
                                    knowledge
                                    in many scientific fields (Maths, Physics, Computer Science, Biology).
                                </p>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-faidherbe" role="tabpanel"
                                aria-labelledby="list-faidherbe-list">
                                <h4>2016/2018 - Preparatory Class</h4>
                                <hr class="my-4">
                                <p>
                                    I spent ywo years of highly intensive undergraduate courses preparing for the
                                    competitive entrance examination to very selective French ‘Grandes
                                    Ecoles’.
                                </p>
                                <ul>
                                    <li>Very strong background in hard sciences: Mathematics, Physics,
                                        Informatics</li>
                                    <li>Successfully coped with a very heavy workload of more than 60
                                        weekly hours of classes, tests and lab sessions</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-ensta" role="tabpanel"
                                aria-labelledby="list-ensta-list">
                                <h4>Sept. 2018 to June 2019 - ENSTA Paris</h4>
                                <hr class="my-4">
                                <p>
                                    Awarded the B.S in Informatics, Maths and Physics
                                </p>
                                <ul>
                                    <li>Undergraduate Major : General Scientific Knowledge in Informatics
                                        (A), Maths and Physics</li>
                                    <li>Undergraduate Minor : Artificial Intelligence (A) and Genetic
                                        Algorithms (A)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="margin-top: 10px;">Experience</h1>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-orange-list"
                                data-toggle="list" href="#list-orange" role="tab" aria-controls="orange">Orange,
                                Northern Intervention Unit - Amiens</a>
                            <a class="list-group-item list-group-item-action" id="list-taep-list" data-toggle="list"
                                href="#list-taep" role="tab" aria-controls="taep">TAEP Junior Company - Paris</a>
                            <a class="list-group-item list-group-item-action" id="list-pierrebernard-list"
                                data-toggle="list" href="#list-pierrebernard" role="tab"
                                aria-controls="pierrebernard">Pierre Bernard Architectural Firm - Amiens</a>
                            <a class="list-group-item list-group-item-action " id="list-eiffage-list" data-toggle="list"
                                href="#list-eiffage" role="tab" aria-controls="eiffage">Eiffage
                                Public Works - Amiens</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active jumbotron" id="list-orange" role="tabpanel"
                                aria-labelledby="list-orange-list">
                                <h4>June 2019 - Network Technician</h4>
                                <hr class="my-4">
                                <p>
                                    I worked among the Northern Intervention Unit, within an international company
                                    and an enterprise
                                    environment to provide a quality telecommunication service to users
                                    on the network.
                                    Selected contributions:
                                </p>
                                <ul>
                                    <li>Wrote reports on the activities conducted by technicians</li>
                                    <li>Ran tests to check the quality of optical fibre and copper lines</li>
                                    <li>Install and solder optical fibre cables</li>
                                </ul>
                                <p>Working in this unit was a good opportunity for me to learn business life as well
                                    as some technical knowledge of networks in general.</p>
                            </div>
                            <div class="tab-pane fade   jumbotron" id="list-eiffage" role="tabpanel"
                                aria-labelledby="list-eiffage-list">
                                <h4>June 2013 - Public works worker</h4>
                                <hr class="my-4">
                                <p>I worked among a worker unit on a couple building sites in order to have a first
                                    glance at the business world. I helped workers on very concrete aspects and
                                    learnt a lot about workers' working conditions as well.
                                </p>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-pierrebernard" role="tabpanel"
                                aria-labelledby="list-pierrebernard-list">
                                <h4>June 2014 - Architect in a small firm</h4>
                                <hr class="my-4">
                                <p>I joined the work of a small architectural firm and noted the stakes of smaller
                                    companies, be it on small or medium scale projects. </p>
                                <p>During this internship I wrote a complete file on a selected architectural
                                    building - The Millenium Bridge (London) - and thus I learnt how such projects
                                    are conducted and what stakeholders are involved.</p>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-taep" role="tabpanel"
                                aria-labelledby="list-taep-list">
                                <h4>2018/2019 - Treasurer and Quality Manager</h4>
                                <hr class="my-4">
                                <p>
                                    TAEP is the junior company of ENSTA Paris.
                                    Junior companies link students to actual companies which have
                                    projects for them.
                                </p>
                                <p>
                                    In this company I developped many skills in treasury and project management
                                    along with working in a company environment. We
                                    also had the opportunity to developped
                                    partnerships with other universities including La Sorbonne and Polytechnique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>