<main role="main">
    <div class="col-12">
        <div class="row">
            <div class="col col-md-3 bg-dark" style=" padding-top: 20px; padding-bottom: 20px;">
                <div class="container">
                    <div class="bg-success"><img
                            style="height: 75%; width: 75%; border-radius: 10px; display : block ; margin-left: 40px; margin-bottom: 10px;"
                            src="assets/img/portrait.jpg" alt="Portrait">
                    </div>
                    <div>

                        <ul>
                            <li><b>{{translation?.phone}}</b> : +33 6 31 92 90 01</li>
                            <li><b>Email</b> : quentin.bihare@ensta-paris.fr</li>
                            <li><b>{{translation?.address}}</b> : Allée des Techniques Avancées
                                Bat N Appt 325, 91120 Palaiseau, France</li>
                            <li><b>{{translation?.nationality}}</b> : French</li>
                            <li><b>{{translation?.birthday}}</b> : 10th April 1999</li>
                            <li><b>{{translation?.driving}}</b></li>
                        </ul>
                    </div>
                    <div style="display :table; margin: 0 auto;">

                        <button class="btn btn-dark" style="margin : 3px;">
                            <a routerLink="services"
                                style="text-decoration: none; color :rgb(17, 17, 17);">{{translation?.services}}</a>
                        </button>
                        <button class="btn btn-dark">
                            <a routerLink="skills"
                                style="text-decoration: none; color :rgb(17, 17, 17);">{{translation?.skills}}</a>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col col-md-9 col-12" style="padding: 20px;">
                <h1>{{translation?.studies}}</h1>
                <div class="row ">
                    <div class="col-md-4 col-12">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-telecom-list"
                                data-toggle="list" href="#list-telecom" role="tab" aria-controls="telecom">Telecom
                                Paris - {{translation?.et1title}}</a>
                            <a class="list-group-item list-group-item-action" id="list-ensta-list" data-toggle="list"
                                href="#list-ensta" role="tab" aria-controls="ensta">ENSTA Paris -
                                {{translation?.et2title}}</a>
                            <a class="list-group-item list-group-item-action" id="list-faidherbe-list"
                                data-toggle="list" href="#list-faidherbe" role="tab" aria-controls="faidherbe">CPGE
                                {{translation?.et3title}} - Lille</a>
                            <a class="list-group-item list-group-item-action " id="list-michelis-list"
                                data-toggle="list" href="#list-michelis" role="tab" aria-controls="michelis">
                                {{translation?.et4title}} - Amiens</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active jumbotron" id="list-telecom" role="tabpanel"
                                aria-labelledby="list-telecom-list">
                                <h4>Sept. 2021 - Telecom Paris & ENSTA Paris</h4>
                                <hr class="my-4">
                                <p>
                                    {{translation?.et1}}
                                </p>
                                <ul>
                                    <li>{{translation?.et1a}}</li>
                                    <li>{{translation?.et1b}}</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade  jumbotron" id="list-michelis" role="tabpanel"
                                aria-labelledby="list-michelis-list">
                                <h4>2016 - {{translation?.et2}}</h4>
                                <hr class="my-4">
                                <p>
                                    {{translation?.et2a}}
                                </p>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-faidherbe" role="tabpanel"
                                aria-labelledby="list-faidherbe-list">
                                <h4>2016/2018 - {{translation?.et3}}</h4>
                                <hr class="my-4">
                                <p>
                                    {{translation?.et3a}}
                                </p>
                                <ul>
                                    <li>{{translation?.et3b}}</li>
                                    <li>{{translation?.et3c}}</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-ensta" role="tabpanel"
                                aria-labelledby="list-ensta-list">
                                <h4>Sept. 2018 {{translation?.et4}} 2019 - ENSTA Paris</h4>
                                <hr class="my-4">
                                <p>
                                    {{translation?.et4b}}
                                </p>
                                <ul>
                                    <li>{{translation?.et4c}}</li>
                                    <li>{{translation?.et4d}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="margin-top: 10px;">Experience</h1>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-orange-list"
                                data-toggle="list" href="#list-orange" role="tab"
                                aria-controls="orange">{{translation?.exp1title}}</a>
                            <a class="list-group-item list-group-item-action" id="list-taep-list" data-toggle="list"
                                href="#list-taep" role="tab" aria-controls="taep">{{translation?.exp2title}}</a>
                            <a class="list-group-item list-group-item-action" id="list-pierrebernard-list"
                                data-toggle="list" href="#list-pierrebernard" role="tab"
                                aria-controls="pierrebernard">{{translation?.exp3title}}</a>
                            <a class="list-group-item list-group-item-action " id="list-eiffage-list" data-toggle="list"
                                href="#list-eiffage" role="tab" aria-controls="eiffage">{{translation?.exp4title}}</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active jumbotron" id="list-orange" role="tabpanel"
                                aria-labelledby="list-orange-list">
                                <h4>{{translation?.exp1}}</h4>
                                <hr class="my-4">
                                <p>
                                    {{translation?.exp1a}}
                                </p>
                                <ul>
                                    <li>{{translation?.exp1b}}</li>
                                    <li>{{translation?.exp1c}}</li>
                                    <li>{{translation?.exp1d}}</li>
                                </ul>
                                <p>{{translation?.exp1e}}</p>
                            </div>
                            <div class="tab-pane fade   jumbotron" id="list-eiffage" role="tabpanel"
                                aria-labelledby="list-eiffage-list">
                                <h4>{{translation?.exp2}}</h4>
                                <hr class="my-4">
                                <p>{{translation?.exp2a}}
                                </p>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-pierrebernard" role="tabpanel"
                                aria-labelledby="list-pierrebernard-list">
                                <h4>{{translation?.exp3}}</h4>
                                <hr class="my-4">
                                <p>{{translation?.exp3a}}</p>
                                <p>{{translation?.exp3b}}</p>
                            </div>
                            <div class="tab-pane fade jumbotron" id="list-taep" role="tabpanel"
                                aria-labelledby="list-taep-list">
                                <h4>{{translation?.exp4}}</h4>
                                <hr class="my-4">
                                <p>
                                    {{translation?.exp4a}}
                                </p>
                                <p>
                                    {{translation?.exp4b}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>